

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    
  </head>
  <body>
    <h1>Hi {{name}}</h1>
    <table>
        <tr>
            <td>
                <a href="{% url 'view_all' %}">View all Users</a>|
            </td>
            <td>
                <a href="{% url 'register' %}" >Add new User</a>|
            </td>
            {% comment %} <td>
                <a href="{% url 'logout' %}">Reset Password</a>|
            </td> {% endcomment %}

            <td>
                <a href="{% url 'logout' %}">Logout</a>
            </td>
        </tr>
    </table>

  </body>
</html>
    