<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>change password</title>
    
  </head>
  <body>
    <form method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td><label>old password </label></td>
                <td><input type="text" name="old_password"></td>
            </tr>   
            <tr> 
                <td><label>New password </label></td>
                <td><input type="password" name="new_password"></td>
            </tr>
            <tr> 
                <td><label>Confirm password </label></td>
                <td><input type="password" name="confirm_password"></td>
            </tr>
            <tr>
               <td> <input type="submit" value="Change Password"></td>
            </tr>
        </table>
      
    </form>
    <a href="/register/student">Home</a>

  </body>
</html>

    