

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>register</title>
    
  </head>
  <body>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>Name </label></td>
                <td><input type="text" name="name"></td>
            </tr> 
            <tr>
                <td><label>Username </label></td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td><label>Email </label></td>
                <td><input type="Email" name="email"></td>
            </tr>
            <tr>
                <td><label>Mobile </label></td>
                <td><input type="tel" name="mobile" pattern="[7-9]{1}[0-9]{9}" title="Invalid "></td>
            </tr> 
            <tr>
                <td><label>Country </label></td>
                <td><input type="text" name="country"></td>
            </tr>
            <tr>
                <td><label>Age </label></td>
                <td><input type="text" name="age"></td>
            </tr>   
            <tr>
                <td><label>Address </label></td>
                <td><input type="text" name="address"></td>
            </tr> 
            <tr>
                <td><label>Pincode </label></td>
                <td><input type="text" name="pincode"></td>
            </tr>   
            <tr>
                <td><label>Password </label></td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr> 
                <td><label>Gender </label></td>
                <td><input type="radio" name="gender" value="male"> Male</td>
                <td><input type="radio" name="gender" value="female">Female</td>
            </tr>
            <tr> 
                <td><label>UserGroup </label></td>
                <td>
                    <select name="user_group">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                </td>
            </tr>
            <tr> 
                <td><label>Tenth </label></td>
                <td>
                    <select name="tenth">
                        <option value="sslc">SSLC</option>
                        <option value="cbse">CBSE</option>
                       
                    </select>
                </td>
            </tr>
            <tr> 
                <td><label>Plustwo </label></td>
                <td>
                    <select name="plustwo">
                        <option value="state">STATE</option>
                        <option value="cbse">CBSE</option>
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Degree </label></td>
                <td><input type="text" name="degree"></td>
            </tr>
            <tr>
                <td><label>Height </label></td>
                <td><input type="number" name="height"></td>
            </tr>
            <tr>
                <td><label>Weight </label></td>
                <td><input type="number" name="weight"></td>
            </tr>
            
            <tr>
               <td> <input type="submit" value="Register"></td>
            </tr>
            <tr>
                <td>
                    <a href="/register/view_all/"> View all entries</a>

                </td>
                {% comment %} <td>
                    <a href="/register/login/">Login</a>
                </td> {% endcomment %}
            <tr>
            <tr>
                
            <tr>

        </table>
      
    </form>

  </body>
</html>

<script>
{% if msg%}
    alert(msg);
{%endif%}
</script>
    