<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    
  </head>
  <body>
    <form method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td><label>Username </label></td>
                <td><input type="text" name="username"></td>
            </tr>   
            <tr> 
                <td><label>Password </label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
               <td> <input type="submit" value="Login" name = "login"></td>
            </tr>
        </table>
      
    </form>

  </body>
</html>
    