

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>student</title>
    
  </head>
  <body>
    <h1>Hi {{name}}</h1>
    <table>
        <tr>
            <td>
                <a href="{% url 'change_password' user_key=user_key %}">change password</a>|
            </td>
            <td>
                <a href="{% url 'update_entry' user_key=user_key %}" >Update</a>|
            </td>

            <td>
                <a href="{% url 'logout' %}">Logout</a>
            </td>
        </tr>
    </table>

  </body>
</html>
    