
{% extends "./base.html" %}
{% block content %}
{% load static %}
<div class="main-div">
    <h1>Registration</h1>
    <form method="post"  id="myForm" >
        {% csrf_token %}
        <table>
        {% if values%}
            <tr>
                <td><label>Name </label></td>
                <td><input type="text" name="name" value={{values.name}}></td>
            </tr> 
            <tr>
                <td><label>Username </label></td>
                <td><input type="text" name="username" value={{values.username}}></td>
            </tr>
            <tr>
                <td><label>Email </label></td>
                <td><input type="text" name="email" value={{values.email}} readonly></td>
            </tr>
            <tr>
                <td><label>Mobile </label></td>
                <td><input type="text" name="mobile" value={{values.mobile}}></td>
            </tr>  
            <tr>
                <td><label>Country </label></td>
                <td><input type="text" name="country" value={{values.country}}></td>
            </tr>
            <tr>
                <td><label>Age </label></td>
                <td><input type="text" name="age" value={{values.age}}></td>
            </tr>   
            <tr>
                <td><label>Address </label></td>
                <td><input type="text" name="address" value={{values.address}}></td>
            </tr> 
            <tr>
                <td><label>Pincode </label></td>
                <td><input type="text" name="pincode" value={{values.pincode}}></td>
            </tr>   
            <tr>
                <td><label>Password </label></td>
                <td><input type="text" name="password" value={{values.password}}></td>
            </tr>
            {%if values.gender == "male" %}  
                <tr> 
                    <td><label>Gender </label></td>
                    <td><input type="radio" name="gender" value="male" checked> Male</td>
                    <td><input type="radio" name="gender" value="female">Female</td>
                </tr>
            {%else%}
           
                <tr> 
                    <td><label>Gender </label></td>
                    <td><input type="radio" name="gender" value="male" > Male</td>
                    <td><input type="radio" name="gender" value="female" checked>Female</td>
                </tr>
             {%endif%}
            <tr> 
                <td><label>UserGroup </label></td>
                <td>
                {%if values.user_group == "student" %}
                    <select name="user_group">
                        <option value="student" selected>Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                {%elif values.user_group == "admin"%}
                    <select name="user_group">
                        <option value="student" >Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin" selected>Admin</option>
                    </select>
                {%else%}
                    <select name="user_group">
                        <option value="student" >Student</option>
                        <option value="teacher" selected>Teacher</option>
                        <option value="admin" >Admin</option>
                    </select>
                {%endif%}
                </td>
            </tr>
            <tr> 
                <td><label>Tenth </label></td>
                <td>
                {%if edu.tenth == "sslc" %}
                    <select name="tenth">
                        <option value="sslc" selected>SSLC</option>
                        <option value="cbse">CBSE</option>
                       
                    </select>
                {%else%}
                    <select name="tenth">
                        <option value="sslc" >SSLC</option>
                        <option value="cbse" selected>CBSE</option>
                       
                    </select>
                {%endif%}
                </td>
            </tr>
            <tr> 
                <td><label>Plustwo </label></td>
                <td>
                {%if edu.plustwo == "state" %}
                    <select name="plustwo">
                        <option value="state" selected>STATE</option>
                        <option value="cbse">CBSE</option>
                       
                    </select>
                {%else%}
                    <select name="plustwo">
                        <option value="state" selected>STATE</option>
                        <option value="cbse">CBSE</option>
                       
                    </select>
                {%endif%}
                </td>
            </tr>
            <tr>
                <td><label>Degree </label></td>
                <td><input type="text" name="degree" value={{edu.degree}}></td>
            </tr> 
            <tr>
                <td><label>Height </label></td>
                <td><input type="text" name="height" value={{med.height}}></td>
            </tr> 
            <tr>
                <td><label>Weight </label></td>
                <td><input type="text" name="weight" value={{med.weight}}></td>
            </tr> 
            
            <tr>
               <td> <input type="submit" value="Update" name="update"></td>
            </tr>
            {% comment %} <tr>
                <td>
                    <a href="/register/view_all/"> View all entries</a>
                </td>
            <tr> {% endcomment %}
        {% endif %}
        </table>
        <button type="button" data-toggle="modal" data-target="#DeletePopup" >Delete</button>
      {% comment %} <a href="{% url 'delete_entry' user_key=values.user_key %}" >Delete</a> {% endcomment %}
    </form>

     <!-- delete_popup -->
  <div class="modal fade pop-up" id="DeletePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">        
      <form method="POST" action="{% url 'delete_entry' values.user_key %}">{% csrf_token %}
          <div class="body delete-popup">
            <div class="modal-header">                
            <h1>Confirm</h1>
                <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <h4>Are you sure, you want to delete  <b>{{values.username}}</b>?</h4>
                </div>
              </div>
            <div class="modal-footer" >
              <button type="button" class="close-btn" data-dismiss="modal">Close</button>
              <button type="button" class="primary-btn" id="delete_btn" onclick="submitAnyForm(this);">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /delete_popup -->

  


</div>
{% endblock%}
{% block javascript %}
 
{% comment %} <script >

 function clicked() {
     
       if (confirm('Do you want to submit?')) {
           'register/delete_entry/'
       } else {
           return false;
       }
    }
</script {% endcomment %}
{% endblock%}