

{% extends "./base.html" %}
{% block content %}
{% load static %}
{% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg> {% endcomment %}
<html>
  <head>
    <meta charset="utf-8">
    <title>register</title>

       <form method="GET" enctype="multipart/form-data">
          <label>Search list by Gender</label>
        <select name="search_by_gender">
        <option value="select">Select</option>
            <option {% if gender == 'male'%}selected {% endif %}value="male">Male</option>
            <option {% if gender == 'female'%}selected {% endif %} value="female">Female</option>
            {% comment %} <option value="gender">Gender</option> {% endcomment %}
        </select>
          <label>Search list by Degree</label>
        <select name="search_by_degree" onselect="degree_searching()">
            <option value="select">Select</option>
            <option {% if degree == 'bsc'%}selected{%endif%} value="bsc">BSc</option>
            <option {% if degree == 'bca'%}selected{%endif%}  value="bca">BCA</option>
            <option {% if degree == 'bba'%}selected{%endif%} value="bba">BBA</option>
        </select>
        {% comment %} <input type="search" placeholder="Search"  name="search" > {% endcomment %}
        <input type="submit" name="find" value="search">
        {% comment %} <button type="button" href="/register/search_by" name="filter">Search</button> {% endcomment %}

    
    </form>
  </head>
  <body>
  {% if values %}
 
    
        <table border="1">
            <th>
                
                Sl. No
            </th>
        
            <th>
                
                User Id
            </th>
            <th>
               Name 
                 <button name="btn_name_sort" onclick="name_sorting()" {% if not request.GET.name_sort_dir %} value="asc" {% elif request.GET.name_sort_dir == 'asc' %} value="desc" {% else %} value="asc" {% endif %} >sort by name</button>
            </th> 
            <th>
                Email 
            </th> 
            <th>
                Mobile 
            </th>
            <th>
                Gender 
            </th>  
            <th>
                Usergroup 
            </th> 
            <th>
                Age <button name="btn_age_sort" onclick="age_sorting()" {% if not request.GET.age_sort_dir %} value="asc" {% elif request.GET.age_sort_dir == 'asc' %} value="desc" {% else %} value="asc" {% endif %} >sort by age</button>
            </th> 
            <th>
                Address 
            </th> 
            <th>
                Country 
            </th> 
           
            <th>
                Pincode  <button name="btn_pincode_sort" onclick="pincode_sorting()" {% if not request.GET.pincode_sort_dir %} value="asc" {% elif request.GET.pincode_sort_dir == 'asc' %} value="desc" {% else %} value="asc" {% endif %} >sort by pincode</button>
            </th> 
               
            <th>
                 Tenth
            </th>
            <th>
                 Plustwo
            </th>
            <th>
                 Degree
            </th>
            <th>
                 Height
            </th>
            <th>
                 Weight
            </th>
            {% for value in values%}
            <tr>
               <td> {{forloop.counter}}</td>
               <td> {{value.user_key}}</td>
               <td> {{value.username}}</td>
               <td> {{value.email}}</td>
               <td> {{value.mobile}}</td>
               <td> {{value.gender}}</td>
               <td> {{value.user_group}}</td>
               <td> {{value.age}}</td>
               <td> {{value.address}}</td>
               <td> {{value.country}}</td>
               <td> {{value.pincode}}</td>
               <td> {{value.edu.tenth}}</td>
               <td> {{value.edu.plustwo}}</td>
               <td> {{value.edu.degree}}</td>
               <td> {{value.med.height}}</td>
               <td> {{value.med.weight}}</td>
               <td> <a href="{% url 'update_entry' user_key=value.user_key %}" >Edit</a></td>
               
            </tr>
             {% endfor %} 
             <!--<a href="{% url 'export'  %}" >Export to xls</a>-->
             <table>
                <tr>
                    <td>
                       <button name="btn_export" onclick="exporting()" >Export to excel</button>
 
                    </td>
                </tr>  
                <tr>  
                    <td>
                        
                       <form method="POST"  enctype="multipart/form-data" id="frm_upload_file">
                        <input type="hidden" name="hidden_export">
                        {% csrf_token %} 
                            Import Excel file<input type="file" name="myfile"><button type="button" id="btn_upload_id" name="btn_upload"  onclick="uploading()" data-toggle="modal" data-target="#FileUploadPopup">Upload</button>
                            <!--data-toggle="modal" data-target="#FileUploadPopup"--> 
                       </form>

 
                    </td>
                    
                </tr>
                
             </table>
             
             
             <!--Upload data popup-->
            <div class="modal fade pop-up" id="FileUploadPopup" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                <div class="modal-content">        
                <form method="POST" >
                {% csrf_token %}
                    <div class="body delete-popup">
                        <div class="modal-header">                
                        <h1>Confirm</h1>
                            <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                        <h4>You are going to add:</h4>
                            <div class="row" id = "list_names">
                            
                            
                           
                            </div>
                       
                        </div>
                        <div class="modal-footer" >
                        <button type="button" class="close-btn" data-dismiss="modal">CANCEL</button>
                        <button type="button" class="primary-btn"  onclick="submitForm();">OK</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
             <!--Upload data popup-->
            
               
            
        </table>

        
        <p> Total Entries : {{count}}</p>
        <a href="{% url 'register' %}" >Add new User</a>|
        <a href="{% url 'view_all' %}">View All users</a>|
        <a href="{% url 'logout' %}">Logout</a>
           
  
{%else%}
    <p>No entries</p>
{% endif %}

  </body>
</html>
       {% endblock %}

{% block javascript %}

<script>

function name_sorting(){

    set_params_go({'name_sort_dir':$('button[name="btn_name_sort"]').val()})
}

function age_sorting(){

    set_params_go({'age_sort_dir':$('button[name="btn_age_sort"]').val()})
}

function pincode_sorting(){
    

    set_params_go({'pincode_sort_dir':$('button[name="btn_pincode_sort"]').val()})
}

function exporting(){
    

    set_params_go({'export_data':true,'search_by_gender':'{{gender}}','search_by_degree':'{{degree}}' })
}
function uploading(){
  
  let files = new FormData($('#frm_upload_file').get(0));
  files.append('fileName', files);
  console.log(files)  
 $.ajax({
    url: "{% url 'upload' %}",
    type: "POST",
    data: files,
    processData: false,
    contentType: false,
    success: function (data) {
        $('#list_names').empty()
    //console.log(data)
    //$('#list_names').append(data);
    //$('#btn_upload_id').toggle('modal');
    $.each(data, function (key, value) {
                    $('#list_names').append($('<li>', {
                        //value: item_state,
                        text: value,
                    }, '</li>','<br>'));
                });

    }
    }); 
    

} 


function set_params_go(args){

 var url="{% url 'view_all'  %}" ;
    var params={};
    for(key in args)
      params[key]=args[key];
    var query='';
    for(key in params)
      if(params[key])
        query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;
}

function submitForm(){
    console.log("Hello")
    $('#frm_upload_file').submit();

}



</script>
       {% endblock %}
