/* nicescroll-rails */
.nicescroll-rails {
    display: none;}
/* sidebar-toggle */
.header .sidebar-toggle {
    position: absolute;
	width: 30px;
	height: 20px;
    left: 15px;
    top: 21px;
    cursor: pointer;
    min-width: auto;
    border: none;
    box-shadow: none;
    padding: 0;}
.header .sidebar-toggle span {
    height: 2px;
	width: 100%;
	position: absolute;
	background: #000;}
.header .sidebar-toggle span:nth-child(2) {
    top: 8px;}
.header .sidebar-toggle span:nth-child(3) {
    top: 16px;}
		
/* sidebar-menu, sidebar-footer */    
.sidebar-menu,	  
.sidebar-footer {
     width: 230px;}	
	 
/* common */	 
#sidebar {
    height: 100%;
    position: fixed;
    background: #f8fcff;
    left: 0;
    padding-top: 45px;}	
.sidebar-menu li {
  list-style: none;  
  text-transform: capitalize;}  
.sidebar-menu li a.active {
    background: #e4e7ea;}
.sidebar-menu li a span {
    padding: 0 5px;}
.sidebar-menu li a:hover, .sidebar-menu li a:focus {
    background: #f9fafb;
    color: #063e2d;
	text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;}
.sidebar-menu li a:hover i, 
.sidebar-menu li a:focus span,
.sidebar-menu li a:hover i, 
.sidebar-menu li a:focus span {
    color: #063e2d;}	
.sidebar-menu li a i {
    font-size: 17px;
    color: #a9aeb1;
    width: 15px;}

	
/* li a, sub-menu */	
.sidebar-menu li a,
.sidebar-menu .sub-menu-link {
	display: block;
    padding: 13px 0px 13px 25px;
    color: #090b0a;
    font-size: 15px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 2px;}
		
/* sub-menu */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}	
ul.open-sub-menu  {
  display: block;}
.sidebar-menu .sub-menu-link {
    cursor: pointer;}
.sidebar-menu .sub-menu li:last-child {
    margin-bottom: 20px;}	
.sidebar-menu li .sub-menu-link i {
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;}
.sidebar-menu li .sub-menu li a i {
    font-size: 11px;
    color: #292b2b;
    padding-left: 8px;}	
.sidebar-menu li i.fa-chevron-down {
    font-size: 10px;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    color: #7b7979;}
.sidebar-menu li.open .sub-menu-link {
	color: #272727;
	background: #daf9f0;}
.sidebar-menu li.open i {
	color: #272727;}
.sidebar-menu li.open i.fa-chevron-down {
	margin-top: 4px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);}
.sidebar-menu li.default .sub-menu {display: block;}
.sub-menu {
 	display: none;
 	background: #c6f1e4;
 	font-size: 14px;}	
.sub-menu a {
 	display: block;
 	text-decoration: none;
 	color: #090b0a;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;}
.sub-menu a:hover {
 	background: #b63b4d;
 	color: #FFF;}

/* sidebar-footer */
.sidebar-footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
	background: #f8fcff;
	position: fixed;
    bottom: 0;}
.sidebar-footer a {
    color: #8c8c8c;
	text-decoration: none;
	font-size: 13px;
	padding-left: 23px;}


@media (min-width: 992px) {  
/* common */
#sidebar {
	box-shadow: 0 2px 1px 1px #ebecec;
	top: 45px;
	z-index: 99;
	-webkit-transition: left 0.1s ease-in-out;
    -moz-transition: left 0.1s ease-in-out;
    -ms-transition: left 0.1s ease-in-out;
    -o-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;} 
.sidebar-menu li:last-child {
   margin-bottom: 100px;}	
/* sidebar-toggle */	
.header .sidebar-toggle,
#sidebar .sidebar-toggle {
    display: none;}
	
}


@media (max-width: 991px) {	
/* common */
#sidebar {
	z-index: 100;
    left: -230px;
	-webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;}
.sidebar-menu li:last-child {
    margin-bottom: 70px;}	
/* open-sidebar */
.open-sidebar {
    overflow-y: hidden;}	
.open-sidebar #sidebar {
    left: 0;}
/* swipe-area-btn */	
.swipe-area-btn {
	position: fixed;
	top: 45px;
	left: 0;
	bottom: 0;
    z-index: 100;
    height: 100%;
    width: 15px;}
.open-sidebar .swipe-area-btn {
    padding-left: 230px;
	background: #18181973;
	width: 100%;
	top: 0;}	
/* sidebar-toggle */	
#sidebar .sidebar-toggle {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
    cursor: pointer;}
#sidebar .sidebar-toggle:hover {
  opacity: 1;}
#sidebar .sidebar-toggle:before, 
#sidebar .sidebar-toggle:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: #333;}
#sidebar .sidebar-toggle:before {
  transform: rotate(45deg);}
#sidebar .sidebar-toggle:after {
  transform: rotate(-45deg);}	
}


@media (min-width: 576px) {	 
/* common */				
}


@media (max-width: 575px) {		
/* sidebar-footer */	
.sidebar-footer p {
     margin: 0;
	 padding: 5px 0;}		
}